.schooladm {
  background: url(../images/adm.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 650px;
}

.h5 {
  padding: 20px;
}

.breadcrumb {
  background-color: tomato;
  /* display: inline-block; */
  width: 100%;
}
.item {
  text-decoration: none;
  padding: 7px;
  margin: 7px 0 7px;
  color: black;
}

/* Full-width inputs */
.inputfields {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submitbutton {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
