.head {
  background-color: rgb(231, 90, 35);
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: -40px;
  box-shadow: 10px 12px 26px 5px rgba(245, 165, 118, 0.46);
  -webkit-box-shadow: 10px 12px 26px 5px rgba(248, 169, 123, 0.46);
  -moz-box-shadow: 10px 12px 26px 5px rgba(248, 169, 123, 0.46);
}

.error {
  color: red;
}
/* .form {
  background-color:;
} */

.bg {
  background: url(../images/img1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.effect-1 {
  border: 0;
  outline: none;
  width: 100%;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.btn1 {
  background: rgb(231, 90, 35);
  color: white;
  outline: none;
}

.rcorners {
  border-radius: 50px 0px;
  background: white;
  padding: 20px;
  height: 160px;
  border: 2px solid rgb(245, 149, 132);
}

.parallax {
  /* The image used */
  background-image: url("../images/ss.jpg");

  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxs {
  /* The image used */
  background-image: url("../images/img1.jpeg");

  /* Set a specific height */
  min-height: 250px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
